@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{ box-sizing: border-box; }
body { margin: 0; padding: 0; }

.wrapper {
  background: hsl(233, 47%, 7%);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 70%;
  height: 447px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}
.text {
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  font-family: "Inter", sans-serif;
  padding: 3em 5em 3em 3.8em;
  background-color: hsl(244, 38%, 16%);
  height: 100%;
  width: 50%;
  color: hsla(0, 0%, 100%, 0.75);
}
.title {
  font-size: 2em;
  margin:0 0 0.2em 0;
  font-weight: 600;
}
  .title span {
    color: hsl(277, 64%, 61%);
  }
.description {
  font-size: 0.9em;
  line-height: 1.7em;
  color: hsla(0, 0%, 100%, 0.6);
  margin-bottom: 3.5em;
}
.stats {
  display: flex;
  align-self: flex-start;
  margin-top: 20px;
}
.number, .numberUp {
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}
.numberUp {
  text-transform: uppercase;
}
.stat {
  text-transform: uppercase;
  font-size:0.5em;
  font-family: "Lexend Deca",serif;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.6);
  margin: 4px 30px 0 0;
}
.img {
  position: relative;
  height: 447px;
}
.img-office { 
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  filter: contrast(10%);
  filter:saturate(10%);
}
.overlay {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  background-color: hsl(277, 85%, 51%);
  opacity:0.5;
  border-radius: 0 10px 10px 0;
}

@media (max-width:376px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    width: 88%;
  }
  .text {
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 1em 1em 1em 1em;
    text-align: center;
    height: 550px;
    padding: 2em 1em;
  }
  .img-office, .img, .overlay {
    border-radius: 10px 10px 0 0;
  }
  .title {
    font-size: 1.8em;
    margin-top:0;
  }
  .description {
    font-size:1em;
    margin-bottom: 1em;
    margin-top: 0;
    padding: 0 0.6em 0 0.6em;
  }
  .stats {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .number {margin-bottom: 1em;}
  .number, .numberUp {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
  .stat {
    margin: 5px 0 0 0;
  }
}